.Reviews_log{
    color: white;
}

.Reviews{
    padding-top: 10px;
}
.Reviews-box{
    padding: 10px 10px;
    box-shadow: 0px 17px 60px #00000012;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.4s ease;
}

.welcome-Reviews h2{
    font-size: 32px;
    font-weight: 800;
    margin: -5px 10px 10px 0px;
    letter-spacing: 1px;
    color: #f0c70a;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

.welcome-Reviews p{
    font-size: 15px;
    font-weight: 800;
    margin: 0px 0px 20px 0px;
    padding-top: 10px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

.Carousel-img {
    height: 400px;
    width: 400px;
}

.box{
    border-radius: 5px;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* прозорий чорний колір для підкладки */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* забезпечує, щоб повний екран перекривав інші елементи */
}

.fullscreen-image-container {
    max-width: 80%; /* задає максимальну ширину збільшеного зображення */
    max-height: 80vh; /* задає максимальну висоту збільшеного зображення */
    overflow: auto; /* встановлює прокрутку, якщо зображення більше за розмір екрану */
}

.fullscreen-image {
    width: 100%;
    height: auto;
}
